@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  --cc: #1a475f;
  --cc1: #191D3B;
  --cc2: #0019AD;
  --cc3: #010FF2;
  --Platinum: #E6E6E6;
  --Onyx: #39393A;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif!important;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Platinum);
  overflow-y: scroll;
  overflow-x: hidden;
}
.a-dark {
  color: var(--cc1)
}
.profilePicture  {
  border-radius: 50%;
  margin-left: 5px;
}
.col {
  margin: 20px;
}
.cardBody {
  background-color: #fff;
  width: 100%;
  height: 100%!important;
  border-left: .25rem solid var(--Coral)!important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.cardBodyText {
  margin: 0;
  padding: 0;
  font-size: .7rem;
  font-weight: 700!important;
  color: #858796!important;
}
.cardBodyHeader {
  margin: 0;
  padding: 0;
  font-weight: 700!important;
  font-size: 1.25rem;
}


/* resets */
.bg-primary {
  background-color: var(--cc1)!important;
}
a {
  text-decoration: none;
  color: var(--cc);
  font-weight: 700;
  color: #fff;
}

a .navbarA {
  color: #fff!important;
}
.profileIcon {
  margin-top: 5px;
  border-radius: 50%;
}
.dropdown-item {
  color: var(--cc1)!important;
  font-weight: 600;
}
.breadcrumb-item a {
  color: #2b2b2b
}
.breadcrumb-item .active{
  color: #2b2b2b!important;
}/*
a:hover {
  text-decoration: none;
  color: rgb(182, 182, 182);
}
.dropdown-item:active {
  background-color: #fff!important;
}*/
.bg-dark {
  background-color: var(--cc1)!important;
}
.btn-primary {
  background-color: var(--cc1)!important;
  border-color: var(--cc1)!important;
  color: #fff;
}
.btn-check:focus {
  background-color: var(--cc1)!important;
  border-color: var(--cc1)!important;
  color: #fff;
  box-shadow: var(--cc1)!important;
}
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-item {
  padding-left: 1rem;
}
.sidebar-brand {
  height: 4.375rem;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 800;
      padding: 1.5rem 1rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .05rem;
      z-index: 1;
}
.sidebar-brand-text {
  width: 65px;
  font-size: .95rem;
  text-align: left;
  line-height: 18px;
  display: inline;
  margin-top: -2px;
  font-weight: 800!important;
}
.navbar-brand {
  display: flex;
}
.formstylebtn {
  margin: 5px;
}
.breadcrumb-item {
  color:#1a475f!important;
}