.profileFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ProfileContainer {
    display: flex;
    flex-direction: row;
}
.ProfileContainerInformation {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}
h3 {
    font-weight: 800;
}
h5 {
    color: var(--cc1);
    margin-top: -0.5rem;
    font-size: 1rem;
    font-weight: 400;
}
.systemRole {
    text-align: center;
    width: 225px;
    background-color: var(--cc1);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 800;
    text-transform: uppercase;
}
