.load {
    display: flex;
    justify-content: center;
    margin-top: 35vh;
    flex-direction: row;
}
.bgcolor {
    width: 100vw;
    height: 100vh;
    background-color: var(--cc1);
    position: absolute;
    overflow: hidden;
}
.sizeme {
    width: 256px!important;
}