.passwordsApplicationName {
    font-size: 1.2rem;
}
p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}
table {
    text-align: center;
    
}
.center {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
.AlighRight {
    text-align: right;
}
.AlighLeft {
    text-align: left;
}
.width15 {
    width: 15rem;
}
.modal-dialog {
    max-width: 750px;
}